# Ignore all root files except .gitignore & readme.md
/**.**
!.gitignore
!readme.**

# Ignore wp-admin and wp-includes
/wp-admin
/wp-includes

# Ignore any up* folders in wp-content
/wp-content/up**

# Ignore twentytwenty themes
/wp-content/themes/twenty**