<!-- wp:template-part {"slug": "nav", "tagName": "nav"} /-->

<!-- wp:heading {"level": 1} -->
<h1>Block Theme</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level": 4} -->
<h4>News</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vero
  obcaecati, a officiis sit similique. Assumenda, consequuntur repellat. Eaque
  reiciendis nemo reprehenderit veniam deleniti dolore similique aperiam.
  Eveniet, laudantium. Dolore.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://google.com" target="_blank">Google</a></p>
<!-- /wp:paragraph -->
